node_modules
dist
.DS_Store
.vercel
*.local

# contracts
contracts/node_modules
contracts/artifacts
contracts/cache
contracts/typechain-types
contracts/.env
ops/node_modules
ops/redemptions.json
ops/.env
